body {
    padding: 20px;
}
#tooltip-container {
    position: absolute;
    width: auto;
    padding: 10px;
    background-color: #f2f2f2;
    border-radius: 2px;
    border: 0px solid #000;
    display: none;
    pointer-events: none;
    font-family: sans-serif;
    font-size: 12px;
}
#logo {
    width: 150px;
    margin-bottom: 20px;
}
#overall-graph-container {
    width: 1000px;
    margin: auto;
}
#info-container {
    text-align: center;
}
#workflow-execution-chart-legend-read-input {
    border-left: 15px solid #cbb5dd;
}

#workflow-execution-chart-legend-computation {
    border-left: 15px solid #f7daad;
}

#workflow-execution-chart-legend-write-output {
    border-left: 15px solid #abdcf4;
}
#workflow-execution-chart-legend-failed {
    border-left: 15px solid orange;
}
#workflow-execution-chart-legend-terminated {
    border-left: 15px solid red;
}
.task-details-table {
    width: 1000px;
    margin: auto;
    text-align: center;
}
.legend {
    text-align: center;
}
.legend small {
    margin: auto;
    padding-left: 3px;
    margin-right: 5px;
    border-radius: 3px;
}
.read-col {
    background-color: #efe8f4;
} 
  
.compute-col {
    background-color: #f9eedb;
}
  
.write-col {
    background-color: #e2f5ff;
}

.task-details-table-td {
    padding: .75rem;
    border-top: 1px solid #dee2e6;
}

.task-details-table-header {
    border-top: 1px solid #dee2e6;
}