# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# CLion folders
cmake-build-debug
cmake-build-release
build
.idea

# Code coverage (testability files)
*.gcno
*.gcda

# Documentation
docs

# MACOS
.DS_Store

# Examples
wrench-simple-example-cloud
wrench-simple-example-batch
examples/workflow_api/condor-grid-example/wrench-example-condor-grid-universe
*wrench-example*
examples/workflow_api/basic-examples/io-pagecache/wrench-example*

#JSON
host_utilization_layout.json

#unit testing
unit_tests
tools/wrench/wrench-daemon/include/REST_API_generated_code.h
