language: cpp
sudo: required

addons:
  apt:
    packages:
      - docker-ce
  sonarcloud:
    organization: "wrench"
    token:
      secure: "a3gk/Phr7yPccMhzBp6LRwEkIXWwSMbeC20sm0N5O/eZ63gN+4sp371pQcUugoPIXBa1jLMeJLL0we950EY9/kFPMVTdscHJ1OOwrM98R65dTtayxLOhDf1D8GTnrOIdpuH9vMatIulRoW0TYUhD1Ay2wIJWToXAJRM4W3bgzAOfsaM45PYeR21tlIuplazZtNys7XFVBO/4F4dHvG1tC5DqiaAM6GBHWqFivdr6vOVzZRZ1+ZvNWv0qk0zy4uxF6W4C+kdBEqhX6Ad2/AuFxIEe5zwdgqMGIu3pSySLVmcrIAGUjBqkR84iQQjlbniSEUyv89jpTvyJ9D95UVlbJ9PB38SYLtfyboDgXb2Sm/M3v0gqPcF6ZX8RP9MaIBEN6HfB4XpPYN4CI6Pwkzkz+7gdFPIl6o5lqbjrvXkeccBH2pWIHrL33pBkIB/wQEKA552jZbB9DbU+A2lobJcFREO5PO5EPWh2WUFB9/C0cOTHPY2k8W92mvsjXlWNqmUTqKwQsldOLrX45sPTkFFCAMU0hOVrjL4qtVO8l/jJitRvtKqXe3ZK1dbZmJU1Rh2G7KDS6+m4t2kIgoxtYDOPdHft38s6NTo/639TPEisn2kLO4sjx/sk2KXh7ja6vKa/eNKMxUBLTbv0x28xMiKN/WEtSTzQKsLWpYLlMUNGUTM="

env:
  - DIST=ubuntu-xenial COMPILER=clang BATSCHED=off
  - DIST=ubuntu-xenial COMPILER=clang-6 BATSCHED=off
  - DIST=ubuntu-xenial COMPILER=gcc5 BATSCHED=off
  - DIST=ubuntu-xenial COMPILER=gcc6 BATSCHED=off
  - DIST=ubuntu-bionic COMPILER=gcc7 BATSCHED=off
  - DIST=ubuntu-bionic COMPILER=gcc7-batsched BATSCHED=on
  - DIST=ubuntu-bionic COMPILER=clang BATSCHED=off
  - DIST=debian-stretch COMPILER=gcc6 BATSCHED=off
  - DIST=debian-buster COMPILER=gcc8 BATSCHED=off

services:
  - docker

before_install:
  # install container
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then
      docker pull wrenchproject/wrench-build:${DIST}-${COMPILER};
      docker run -m 1g -d -t --name=wrench wrenchproject/wrench-build:${DIST}-${COMPILER} bash;
      export BRANCH=`git rev-parse --abbrev-ref HEAD`;
      docker exec -it wrench git clone https://github.com/wrench-project/wrench;
    fi
  - if [[ "$BRANCH" != "HEAD" ]]; then
      docker exec -w /home/wrench/wrench -it wrench git checkout ${BRANCH};
    fi
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then
      docker exec -it wrench mkdir wrench/build;
    fi

script:
  # building wrench
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then
      docker exec -w /home/wrench/wrench/build -it wrench cmake -DENABLE_BATSCHED=${BATSCHED} -DCMAKE_VERBOSE_MAKEFILE=ON -DCOVERAGE=1 ..;
      docker exec -w /home/wrench/wrench/build -it wrench make all unit_tests doc-gh;
      travis_wait sleep infinity & docker exec -w /home/wrench/wrench/build -it wrench ./unit_tests;
    fi

after_success:
  # coverage analysis and sonarcloud
  - if [[ "$TRAVIS_OS_NAME" == "linux" && $DIST == "ubuntu-bionic" && $COMPILER == "gcc7" && $BATSCHED == "off" ]] || [[ "$TRAVIS_OS_NAME" == "linux" && $DIST == "ubuntu-bionic" && $COMPILER == "gcc7-batsched" && $BATSCHED == "on" ]]; then
      docker exec -w /home/wrench/wrench/build -it wrench lcov --directory . --capture --output-file coverage.info;
      docker exec -w /home/wrench/wrench/build -it wrench lcov --remove coverage.info '*/test/*' '*/examples/*' '*/include/*' --output-file coverage.info;
      docker exec -w /home/wrench/wrench/build -it wrench coveralls-lcov --repo-token ${COVERALLS_TOKEN} coverage.info;

      docker cp wrench:/home/wrench/wrench/build .;

      build-wrapper-linux-x86-64 --out-dir bw-output make all;
      sonar-scanner -Dsonar.host.url=https://sonarqube.com -Dsonar.login=$SONAR_TOKEN;
    fi
  - docker cp wrench:/home/wrench/wrench/docs .;
  - cp -R ./docs/gh-pages $HOME/gh-pages-to-deploy
  - docker stop wrench;
  - docker rm wrench;
  - docker rmi wrenchproject/wrench-build:${DIST}-${COMPILER};

deploy:
  provider: script
  script: bash .travis.publish
  on:
    branch: master

notifications:
  email:
    recipients:
      - wrench@mailman.isi.edu
    on_success: change
    on_failure: always
  slack:
    secure: iblNKGB18NrNSHWsonO6jLpjqUxI7MhBYDHEAJxhN7sRCY4l9m4MhHGrVAndimeE2mWGqfl7nz9LjpGVrlc7y6y/8pNgaNwk1x1PLacOBjNdf+ZFx2b3p9+vXdcOyK3FO096er2V/MBWxUKrHYc3v1/9M/k8mwUYVRDeFfNMia+wgEWyS0p7mB84Q99KmUA6yvXlK0NPG1n/NwIcXaca8z7db1TeaYCpbR6N1f6I2eGMlJRYP4cYFbg141Qr9hpi0bkxTT+cMAuO+1WBQagZrMxh/O3BS6BvUVswBrxCP8zBG3H1lttkVSsIz3IdDzGoAXRNqY8X5sfrZlLEE2GoWlz3xAJtQoT2WGoubtL+sV4tDORhIPh+E5pbXMMI7HYTKAntJylRAJiifLQ8Cwz/5uo3+wyv+i/tM2iV72+6ykXO9vuuRHssvOETrwjXRP1sKfOoe2aeu2sFJNSq3daPGZZR0m7bIaXEVIy9+STfOt0AuamZggtgbU4EfsqjICkvna1IBNOjVIN8THBiyhMfQFoS5ezvQfqMcoL/NLZS5WlMuinNaxutWp+Yg1i9+QpFa5G1DJZ1SKtmMkaSQZn8ITPzxduOXOBvU4VJhbpIonbp6cBysI+iTyrlIWE6mnzWeEJ4ctDLSfNc1zUWLQAALKdlwshNgCOlaScTickSclo=
