{
  "openapi": "3.0.1",
  "info": {
    "title": "WRENCH REST API",
    "description": "Test for WRENCH",
    "termsOfService": "https://wrench-project.org/terms",
    "contact": {
      "email": "support@wrench-project.org"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "version": "1.0.0"
  },
  "externalDocs": {
    "description": "Find out more about WRENCH",
    "url": "https://wrench-project.org/"
  },
  "servers": [
    {
      "url": "https://wrench-project.org/v1"
    }
  ],
  "tags": [
    {
      "name": "WRENCH",
      "description": "Everything about your simulations",
      "externalDocs": {
        "description": "Find out more about WRENCH",
        "url": "https://wrench-project.org/"
      }
    }
  ],
  "paths": {
    "/simulation/startSimulation": {
      "post": {
        "tags": [
          "WRENCH"
        ],
        "summary": "Start a new simulation",
        "operationId": "startSimulation",
        "requestBody": {
          "description": "Start a new simulation based on a platform file and a controller hostname.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SimulationInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SimulationReturn"
                }
              }
            }
          },
	  "404": { "$ref": "#/components/responses/NotFound" },
          "405": { "$ref": "#/components/responses/MethodNotAllowed" }
        }
      }
    },
    "/simulation/{simid}/getTime": {
      "get": {
        "tags": [
          "WRENCH"
        ],
        "summary": "Retrieve the current simulated time.",
        "operationId": "getSimulationTime",
        "parameters": [
          {
            "name": "simid",
            "in": "path",
            "description": "ID of the simulation",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TimeResponse"
                }
              }
            }
          },
	  "404": { "$ref": "#/components/responses/NotFound" },
          "405": { "$ref": "#/components/responses/MethodNotAllowed" }
        }
      }
    },
    "/simulation/{simid}/advanceTime": {
      "post": {
        "tags": [
          "WRENCH"
        ],
        "summary": "Advance the current simulated time (a.k.a., sleep).",
        "operationId": "advanceTime",
        "parameters": [
          {
            "name": "simid",
            "in": "path",
            "description": "ID of the simulation",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Input to start a new service.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "increment": {
                    "type": "number",
                    "format": "double",
                    "description": "Increment in seconds."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
	  "404": { "$ref": "#/components/responses/NotFound" },
          "405": { "$ref": "#/components/responses/MethodNotAllowed" }
        }
      }
    },
    "/simulation/{simid}/workflows/{workflow_name}/createTask": {
      "post": {
        "tags": [
          "WRENCH"
        ],
        "summary": "Create a new task.",
        "operationId": "createTask",
        "parameters": [
          {
            "name": "simid",
            "in": "path",
            "description": "ID of the simulation",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "workflow_name",
            "in": "path",
            "description": "the name of the workflow",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Task characteristics.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Task"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
	  "404": { "$ref": "#/components/responses/NotFound" },
          "405": { "$ref": "#/components/responses/MethodNotAllowed" }
        }
      }
    },
    "/simulation/{simid}/waitForNextSimulationEvent": {
      "get": {
        "tags": [
          "WRENCH"
        ],
        "summary": "Wait for and retrieve the next simulation event.",
        "operationId": "waitForNextSimulationEvent",
        "parameters": [
          {
            "name": "simid",
            "in": "path",
            "description": "ID of the simulation",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Event"
                }
              }
            }
          },
	  "404": { "$ref": "#/components/responses/NotFound" },
          "405": { "$ref": "#/components/responses/MethodNotAllowed" }
        }
      }
    },
    "/simulation/{simid}/simulationEvents": {
      "get": {
        "tags": [
          "WRENCH"
        ],
        "summary": "Retrieve all simulation events since last time we checked.",
        "operationId": "getSimulationEvents",
        "parameters": [
          {
            "name": "simid",
            "in": "path",
            "description": "ID of simulation",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventList"
                }
              }
            }
          },
	  "404": { "$ref": "#/components/responses/NotFound" },
          "405": { "$ref": "#/components/responses/MethodNotAllowed" }
        }
      }
    },
    "/simulation/{simid}/hostnames": {
      "get": {
        "tags": [
          "WRENCH"
        ],
        "summary": "Retrieve the names of all hosts in the simulated platform.",
        "operationId": "getAllHostnames",
        "parameters": [
          {
            "name": "simid",
            "in": "path",
            "description": "ID of simulation",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HostnameList"
                }
              }
            }
          },
	  "404": { "$ref": "#/components/responses/NotFound" },
          "405": { "$ref": "#/components/responses/MethodNotAllowed" }
        }
      }
    },
    "/simulation/{simid}/workflows/{workflow_name}/tasks/{tid}/inputFiles": {
      "get": {
        "tags": [
          "WRENCH"
        ],
        "summary": "Retrieve a task's input files",
        "deprecated": false,
        "operationId": "getTaskInputFiles",
        "parameters": [
          {
            "name": "simid",
            "in": "path",
            "description": "ID of the simulation",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "workflow_name",
            "in": "path",
            "description": "the name of the workflow",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tid",
            "in": "path",
            "description": "ID of the task",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileList"
                }
              }
            }
          },
	  "404": { "$ref": "#/components/responses/NotFound" },
          "405": { "$ref": "#/components/responses/MethodNotAllowed" }
        }
      }
    },
    "/simulation/{simid}/workflows/{workflow_name}/tasks/{tid}/addInputFile": {
      "post": {
        "tags": [
          "WRENCH"
        ],
        "summary": "Add an input file to a task",
        "deprecated": false,
        "operationId": "addInputFile",
        "parameters": [
          {
            "name": "simid",
            "in": "path",
            "description": "ID of the simulation",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "workflow_name",
            "in": "path",
            "description": "the name of the workflow",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tid",
            "in": "path",
            "description": "ID of the task",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Input file.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "file": {
                    "type": "string",
                    "description": "the file's ID"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
	  "404": { "$ref": "#/components/responses/NotFound" },
          "405": { "$ref": "#/components/responses/MethodNotAllowed" }
        }
      }
    },
    "/simulation/{simid}/workflows/{workflow_name}/tasks/{tid}/outputFiles": {
      "get": {
        "tags": [
          "WRENCH"
        ],
        "summary": "Retrieve a task's output files",
        "deprecated": false,
        "operationId": "getTaskOutputFiles",
        "parameters": [
          {
            "name": "simid",
            "in": "path",
            "description": "ID of the simulation",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "workflow_name",
            "in": "path",
            "description": "the name of the workflow",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tid",
            "in": "path",
            "description": "ID of the task",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileList"
                }
              }
            }
          },
	  "404": { "$ref": "#/components/responses/NotFound" },
          "405": { "$ref": "#/components/responses/MethodNotAllowed" }
        }
      }
    },
    "/simulation/{simid}/workflows/{workflow_name}/tasks/{tid}/addOutputFile": {
      "post": {
        "tags": [
          "WRENCH"
        ],
        "summary": "Add an output file to a task",
        "deprecated": false,
        "operationId": "addOutputFile",
        "parameters": [
          {
            "name": "simid",
            "in": "path",
            "description": "ID of the simulation",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "workflow_name",
            "in": "path",
            "description": "the name of the workflow",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tid",
            "in": "path",
            "description": "ID of the task",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Job characteristics.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "file": {
                    "type": "string",
                    "description": "the file's ID"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
	  "404": { "$ref": "#/components/responses/NotFound" },
          "405": { "$ref": "#/components/responses/MethodNotAllowed" }
        }
      }
    },
    "/simulation/{simid}/workflows/{workflow_name}/inputFiles": {
      "get": {
        "tags": [
          "WRENCH"
        ],
        "summary": "Retrieve the list of input files of the workflow.",
        "deprecated": false,
        "operationId": "getInputFiles",
        "parameters": [
          {
            "name": "simid",
            "in": "path",
            "description": "ID of the simulation",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "workflow_name",
            "in": "path",
            "description": "the name of the workflow",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileList"
                }
              }
            }
          },
	  "404": { "$ref": "#/components/responses/NotFound" },
          "405": { "$ref": "#/components/responses/MethodNotAllowed" }
        }
      }
    },
    "/simulation/{simid}/workflows/{workflow_name}/readyTasks": {
      "get": {
        "tags": [
          "WRENCH"
        ],
        "summary": "Retrieve the list of ready tasks in the workflow.",
        "deprecated": false,
        "operationId": "getReadyTasks",
        "parameters": [
          {
            "name": "simid",
            "in": "path",
            "description": "ID of the simulation",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "workflow_name",
            "in": "path",
            "description": "the name of the workflow",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskList"
                }
              }
            }
          },
	  "404": { "$ref": "#/components/responses/NotFound" },
          "405": { "$ref": "#/components/responses/MethodNotAllowed" }
        }
      }
    },
    "/simulation/{simid}/workflows/{workflow_name}/isDone": {
      "get": {
        "tags": [
          "WRENCH"
        ],
        "summary": "Determine whether the workflow's execution is complete.",
        "deprecated": false,
        "operationId": "workflowIsDone",
        "parameters": [
          {
            "name": "simid",
            "in": "path",
            "description": "ID of the simulation",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "workflow_name",
            "in": "path",
            "description": "the name of the workflow",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BooleanResponse"
                }
              }
            }
          },
	  "404": { "$ref": "#/components/responses/NotFound" },
          "405": { "$ref": "#/components/responses/MethodNotAllowed" }
        }
      }
    },
    "/simulation/{simid}/addFile": {
      "post": {
        "tags": [
          "WRENCH"
        ],
        "summary": "Add a file to the simulation.",
        "deprecated": false,
        "operationId": "addFile",
        "parameters": [
          {
            "name": "simid",
            "in": "path",
            "description": "ID of the simulation",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Input to add a new file.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "the name of the file"
                  },
                  "size": {
                    "type": "integer",
		    "format": "int64",
                    "description": "size of the file in bytes"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
	  "404": { "$ref": "#/components/responses/NotFound" },
          "405": { "$ref": "#/components/responses/MethodNotAllowed" }
        }
      }
    },
    "/simulation/{simid}/files/{file_id}/size": {
      "get": {
        "tags": [
          "WRENCH"
        ],
        "summary": "Retrieve a file's size.",
        "deprecated": false,
        "operationId": "getFileSize",
        "parameters": [
          {
            "name": "simid",
            "in": "path",
            "description": "ID of the simulation",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "file_id",
            "in": "path",
            "description": "the name of the file",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileSizeResponse"
                }
              }
            }
          },
	  "404": { "$ref": "#/components/responses/NotFound" },
          "405": { "$ref": "#/components/responses/MethodNotAllowed" }
        }
      }
    },
    "/simulation/{simid}/jobs/{job_name}/tasks": {
      "get": {
        "tags": [
          "WRENCH"
        ],
        "summary": "Retrieve a standard job's tasks",
        "deprecated": false,
        "operationId": "getStandardJobTasks",
        "parameters": [
          {
            "name": "simid",
            "in": "path",
            "description": "ID of the simulation",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "job_name",
            "in": "path",
            "description": "ID of the job",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskList"
                }
              }
            }
          },
	  "404": { "$ref": "#/components/responses/NotFound" },
          "405": { "$ref": "#/components/responses/MethodNotAllowed" }
        }
      }
    },
    "/simulation/{simid}/workflows/{workflow_name}/tasks/{task_name}/getState": {
      "get": {
        "tags": [
          "WRENCH"
        ],
        "summary": "Retrieve a task's state",
        "deprecated": false,
        "operationId": "getTaskState",
        "parameters": [
          {
            "name": "simid",
            "in": "path",
            "description": "ID of the simulation",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "workflow_name",
            "in": "path",
            "description": "the name of the workflow",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "task_name",
            "in": "path",
            "description": "the name of the task",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StateResponse"
                }
              }
            }
          },
	  "404": { "$ref": "#/components/responses/NotFound" },
          "405": { "$ref": "#/components/responses/MethodNotAllowed" }
        }
      }
    },
    "/simulation/{simid}/workflows/{workflow_name}/tasks/{task_name}/getFlops": {
      "get": {
        "tags": [
          "WRENCH"
        ],
        "summary": "Retrieve a task's flops",
        "deprecated": false,
        "operationId": "getTaskFlops",
        "parameters": [
          {
            "name": "simid",
            "in": "path",
            "description": "ID of the simulation",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "workflow_name",
            "in": "path",
            "description": "the name of the workflow",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "task_name",
            "in": "path",
            "description": "the name of the task",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskFlops"
                }
              }
            }
          },
	  "404": { "$ref": "#/components/responses/NotFound" },
          "405": { "$ref": "#/components/responses/MethodNotAllowed" }
        }
      }
    },
    "/simulation/{simid}/workflows/{workflow_name}/tasks/{task_name}/getMinNumCores": {
      "get": {
        "tags": [
          "WRENCH"
        ],
        "summary": "Retrieve a task's minimum number of cores.",
        "deprecated": false,
        "operationId": "getTaskMinNumCores",
        "parameters": [
          {
            "name": "simid",
            "in": "path",
            "description": "ID of the simulation",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "workflow_name",
            "in": "path",
            "description": "the name of the workflow",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "task_name",
            "in": "path",
            "description": "the name of the task",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskCores"
                }
              }
            }
          },
	  "404": { "$ref": "#/components/responses/NotFound" },
          "405": { "$ref": "#/components/responses/MethodNotAllowed" }
        }
      }
    },
    "/simulation/{simid}/workflows/{workflow_name}/tasks/{task_name}/getNumberOfChildren": {
      "get": {
        "tags": [
          "WRENCH"
        ],
        "summary": "Retrieve the number of children of a task.",
        "deprecated": false,
        "operationId": "getTaskNumberOfChildren",
        "parameters": [
          {
            "name": "simid",
            "in": "path",
            "description": "ID of the simulation",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "workflow_name",
            "in": "path",
            "description": "the name of the workflow",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "task_name",
            "in": "path",
            "description": "the name of the task",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NumberOfChildren"
                }
              }
            }
          },
	  "404": { "$ref": "#/components/responses/NotFound" },
          "405": { "$ref": "#/components/responses/MethodNotAllowed" }
        }
      }
    },
    "/simulation/{simid}/workflows/{workflow_name}/tasks/{task_name}/getBottomLevel": {
      "get": {
        "tags": [
          "WRENCH"
        ],
        "summary": "Retrieve a task's bottom level",
        "deprecated": false,
        "operationId": "getTaskBottomLevel",
        "parameters": [
          {
            "name": "simid",
            "in": "path",
            "description": "ID of the simulation",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "workflow_name",
            "in": "path",
            "description": "the name of the workflow",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "task_name",
            "in": "path",
            "description": "the name of the task",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BottomLevel"
                }
              }
            }
          },
	  "404": { "$ref": "#/components/responses/NotFound" },
          "405": { "$ref": "#/components/responses/MethodNotAllowed" }
        }
      }
    },
    "/simulation/{simid}/workflows/{workflow_name}/tasks/{task_name}/getMaxNumCores": {
      "get": {
        "tags": [
          "WRENCH"
        ],
        "summary": "Retrieve a task's maximum number of cores.",
        "deprecated": false,
        "operationId": "getTaskMaxNumCores",
        "parameters": [
          {
            "name": "simid",
            "in": "path",
            "description": "ID of the simulation",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "workflow_name",
            "in": "path",
            "description": "the name of the workflow",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "task_name",
            "in": "path",
            "description": "the name of the task",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskCores"
                }
              }
            }
          },
	  "404": { "$ref": "#/components/responses/NotFound" },
          "405": { "$ref": "#/components/responses/MethodNotAllowed" }
        }
      }
    },
    "/simulation/{simid}/workflows/{workflow_name}/tasks/{task_name}/getMemory": {
      "get": {
        "tags": [
          "WRENCH"
        ],
        "summary": "Retrieve a task's memory requirement.",
        "deprecated": false,
        "operationId": "getTaskMemory",
        "parameters": [
          {
            "name": "simid",
            "in": "path",
            "description": "ID of the simulation",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "workflow_name",
            "in": "path",
            "description": "the name of the workflow",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "task_name",
            "in": "path",
            "description": "the name of the task",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskMem"
                }
              }
            }
          },
	  "404": { "$ref": "#/components/responses/NotFound" },
          "405": { "$ref": "#/components/responses/MethodNotAllowed" }
        }
      }
    },
    "/simulation/{simid}/workflows/{workflow_name}/tasks/{task_name}/getStartDate": {
      "get": {
        "tags": [
          "WRENCH"
        ],
        "summary": "Retrieve a task's start date.",
        "deprecated": false,
        "operationId": "getTaskStartDate",
        "parameters": [
          {
            "name": "simid",
            "in": "path",
            "description": "ID of the simulation",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "workflow_name",
            "in": "path",
            "description": "the name of the workflow",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "task_name",
            "in": "path",
            "description": "the name of the task",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TimeResponse"
                }
              }
            }
          },
	  "404": { "$ref": "#/components/responses/NotFound" },
          "405": { "$ref": "#/components/responses/MethodNotAllowed" }
        }
      }
    },
    "/simulation/{simid}/workflows/{workflow_name}/tasks/{task_name}/getEndDate": {
      "get": {
        "tags": [
          "WRENCH"
        ],
        "summary": "Retrieve a task's end date.",
        "deprecated": false,
        "operationId": "getTaskEndDate",
        "parameters": [
          {
            "name": "simid",
            "in": "path",
            "description": "ID of the simulation",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "workflow_name",
            "in": "path",
            "description": "the name of the workflow",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "task_name",
            "in": "path",
            "description": "the name of the task",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TimeResponse"
                }
              }
            }
          },
	  "404": { "$ref": "#/components/responses/NotFound" },
          "405": { "$ref": "#/components/responses/MethodNotAllowed" }
        }
      }
    },
    "/simulation/{simid}/workflows/{workflow_name}/createStandardJob": {
      "post": {
        "tags": [
          "WRENCH"
        ],
        "summary": "Create a new standard job.",
        "operationId": "createStandardJob",
        "parameters": [
          {
            "name": "simid",
            "in": "path",
            "description": "ID of the simulation",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "workflow_name",
            "in": "path",
            "description": "the name of the workflow",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Job specification.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StandardJob"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobResponse"
                }
              }
            }
          },
	  "404": { "$ref": "#/components/responses/NotFound" },
          "405": { "$ref": "#/components/responses/MethodNotAllowed" }
        }
      }
    },
    "/simulation/{simid}/standardJobs/{job_name}/submit": {
      "post": {
        "tags": [
          "WRENCH"
        ],
        "summary": "Submit a standard job for execution.",
        "operationId": "submitStandardJob",
        "parameters": [
          {
            "name": "simid",
            "in": "path",
            "description": "ID of the simulation",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "job_name",
            "in": "path",
            "description": "ID of the job",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Job characteristics.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "compute_service_name": {
                    "type": "string",
                    "description": "the compute service's name"
                  },
                  "service_specific_args": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string"
                      },
                      "value": {
                        "type": "string"
                      }
                    },
                    "description": "service-specific job arguments ({} means “use all defaults” )"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
	  "404": { "$ref": "#/components/responses/NotFound" },
          "405": { "$ref": "#/components/responses/MethodNotAllowed" }
        }
      }
    },
    "/simulation/{simid}/createCompoundJob": {
      "post": {
        "tags": [
          "WRENCH"
        ],
        "summary": "Create a new compound job.",
        "operationId": "createCompoundJob",
        "parameters": [
          {
            "name": "simid",
            "in": "path",
            "description": "ID of the simulation",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Input to create a new compound job",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "the name of Compound job"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
	  "404": { "$ref": "#/components/responses/NotFound" },
          "405": { "$ref": "#/components/responses/MethodNotAllowed" }
        }
      }
    },
    "/simulation/{simid}/addBareMetalComputeService": {
      "post": {
        "tags": [
          "WRENCH"
        ],
        "summary": "Create and start a bare-metal compute service.",
        "operationId": "addBareMetalComputeService",
        "parameters": [
          {
            "name": "simid",
            "in": "path",
            "description": "ID of the simulation",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Input to start a new service.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "head_host": {
                    "type": "string",
                    "description": "the name of the (simulated) host on which the compute service should run"
                  },
                  "resources": {
                    "type": "object",
                    "description": "compute resources as a dict of hostnames where values are tuples of #cores and ram in bytes"
                  },
                  "scratch_space": {
                    "type": "string",
                    "description": "the compute service’s scratch space’s mount point (”” means none)"
                  },
                  "property_list": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string"
                      },
                      "value": {
                        "type": "string"
                      }
                    },
                    "description": "a property list ({} means “use all defaults”)"
                  },
                  "message_payload_list": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string"
                      },
                      "value": {
                        "type": "number",
			"format": "int64"
                      }
                    },
                    "description": "a message payload list ({} means “use all defaults”)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceResponse"
                }
              }
            }
          },
	  "404": { "$ref": "#/components/responses/NotFound" },
          "405": { "$ref": "#/components/responses/MethodNotAllowed" }
        }
      }
    },
    "/simulation/{simid}/addCloudComputeService": {
      "post": {
        "tags": [
          "WRENCH"
        ],
        "summary": "Create and start a cloud compute service.",
        "operationId": "addCloudComputeService",
        "parameters": [
          {
            "name": "simid",
            "in": "path",
            "description": "ID of the simulation",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Input to start a new service.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "head_host": {
                    "type": "string",
                    "description": "the name of the service's head host"
                  },
                  "resources": {
                    "type": "object",
                    "description": "compute resources as a dict of hostnames where values are tuples of #cores and ram in bytes"
                  },
                  "scratch_space": {
                    "type": "string",
                    "description": "the compute service’s scratch space’s mount point (”” means none)"
                  },
                  "property_list": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string"
                      },
                      "value": {
                        "type": "string"
                      }
                    },
                    "description": "a property list ({} means “use all defaults”)"
                  },
                  "message_payload_list": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string"
                      },
                      "value": {
                        "type": "number",
			"format": "int64"
                      }
                    },
                    "description": "a message payload list ({} means “use all defaults”)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceResponse"
                }
              }
            }
          }, 
	  "404": { "$ref": "#/components/responses/NotFound" },
          "405": { "$ref": "#/components/responses/MethodNotAllowed" }
        }
      }
    },
    "/simulation/{simid}/addBatchComputeService": {
      "post": {
        "tags": [
          "WRENCH"
        ],
        "summary": "Create and start a batch compute service.",
        "operationId": "addBatchComputeService",
        "parameters": [
          {
            "name": "simid",
            "in": "path",
            "description": "ID of the simulation",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "input to start a new service.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "head_host": {
                    "type": "string",
                    "description": "the name of the (simulated) host on which the compute service should run"
                  },
                  "resources": {
                    "type": "object",
                    "description": "compute resources as a dict of hostnames where values are tuples of #cores and ram in bytes"
                  },
                  "scratch_space": {
                    "type": "string",
                    "description": "the compute service’s scratch space’s mount point (”” means none)"
                  },
                  "property_list": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string"
                      },
                      "value": {
                        "type": "string"
                      }
                    },
                    "description": "a property list ({} means “use all defaults”)"
                  },
                  "message_payload_list": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string"
                      },
                      "value": {
                        "type": "integer",
			"format": "int64"
                      }
                    },
                    "description": "a message payload list ({} means “use all defaults”)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceResponse"
                }
              }
            }
          },
	  "404": { "$ref": "#/components/responses/NotFound" },
          "405": { "$ref": "#/components/responses/MethodNotAllowed" }
        }
      }
    },
    "/simulation/{simid}/compute_services/{service_name}/supportsCompoundJobs": {
      "get": {
        "tags": [
          "WRENCH"
        ],
        "summary": "Determine whether the service supports compound jobs.",
        "operationId": "supportsCompoundJobs",
        "parameters": [
          {
            "name": "simid",
            "in": "path",
            "description": "ID of the simulation",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "service_name",
            "in": "path",
            "description": "the name of the compute service",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BooleanResponse"
                }
              }
            }
          },
	  "404": { "$ref": "#/components/responses/NotFound" },
          "405": { "$ref": "#/components/responses/MethodNotAllowed" }
        }
      }
    },
    "/simulation/{simid}/compute_services/{service_name}/supportsPilotJobs": {
      "get": {
        "tags": [
          "WRENCH"
        ],
        "summary": "Determine whether the service supports pilot jobs.",
        "operationId": "supportsPilotJobs",
        "parameters": [
          {
            "name": "simid",
            "in": "path",
            "description": "ID of the simulation",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "service_name",
            "in": "path",
            "description": "the name of the compute service",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BooleanResponse"
                }
              }
            }
          },
	  "404": { "$ref": "#/components/responses/NotFound" },
          "405": { "$ref": "#/components/responses/MethodNotAllowed" }
        }
      }
    },
    "/simulation/{simid}/compute_services/{service_name}/supportsStandardJobs": {
      "get": {
        "tags": [
          "WRENCH"
        ],
        "summary": "Determine whether the service supports standard jobs.",
        "operationId": "supportsStandardJobs",
        "parameters": [
          {
            "name": "simid",
            "in": "path",
            "description": "ID of the simulation",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "service_name",
            "in": "path",
            "description": "the name of the compute service",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BooleanResponse"
                }
              }
            }
          },
	  "404": { "$ref": "#/components/responses/NotFound" },
          "405": { "$ref": "#/components/responses/MethodNotAllowed" }
        }
      }
    },
    "/simulation/{simid}/compute_services/{service_name}/coreFlopRates": {
      "get": {
        "tags": [
          "WRENCH"
        ],
        "summary": "Retrieve the core flop rate for each host managed by the compute service.",
        "operationId": "getCoreFlopRates",
        "parameters": [
          {
            "name": "simid",
            "in": "path",
            "description": "ID of the simulation",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "service_name",
            "in": "path",
            "description": "the compute service's name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "hostnames": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "the service's compute hosts"
                    },
                    "flop_rates": {
                      "type": "array",
                      "items": {
                        "type": "number",
			"format": "double"
                      },
                      "description": "the service's compute hosts' flop rates"
                    }
                  }
                }
              }
            }
          },
	  "404": { "$ref": "#/components/responses/NotFound" },
          "405": { "$ref": "#/components/responses/MethodNotAllowed" }
        }
      }
    },
    "/simulation/{simid}/compute_services/{service_name}/coreCounts": {
      "get": {
        "tags": [
          "WRENCH"
        ],
        "summary": "Retrieve the core counts for each host managed by the compute service.",
        "operationId": "getCoreCounts",
        "parameters": [
          {
            "name": "simid",
            "in": "path",
            "description": "ID of the simulation",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "service_name",
            "in": "path",
            "description": "the compute service's name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "hostnames": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "the service's compute hosts"
                    },
                    "flop_rates": {
                      "type": "array",
                      "items": {
                        "type": "integer",
			"format": "int64"
                      },
                      "description": "the service's compute hosts' core counts"
                    }
                  }
                }
              }
            }
          },
	  "404": { "$ref": "#/components/responses/NotFound" },
          "405": { "$ref": "#/components/responses/MethodNotAllowed" }
        }
      }
    },
    "/simulation/{simid}/addSimpleStorageService": {
      "post": {
        "tags": [
          "WRENCH"
        ],
        "summary": "Create and start a simple storage service.",
        "operationId": "addSimpleStorageService",
        "parameters": [
          {
            "name": "simid",
            "in": "path",
            "description": "ID of the simulation",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Input to start a new service.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "head_host": {
                    "type": "string",
                    "description": "the name of the service's head host"
                  },
                  "mount_points": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "the service's mount points"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceResponse"
                }
              }
            }
          },
	  "404": { "$ref": "#/components/responses/NotFound" },
          "405": { "$ref": "#/components/responses/MethodNotAllowed" }
        }
      }
    },
    "/simulation/{simid}/addFileRegistryService": {
      "post": {
        "tags": [
          "WRENCH"
        ],
        "summary": "Create and start a file registry service.",
        "operationId": "addFileRegistryService",
        "parameters": [
          {
            "name": "simid",
            "in": "path",
            "description": "ID of the simulation",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Input to start a new service.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "head_host": {
                    "type": "string",
                    "description": "the name of the service's head host"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceResponse"
                }
              }
            }
          },
	  "404": { "$ref": "#/components/responses/NotFound" },
          "405": { "$ref": "#/components/responses/MethodNotAllowed" }
        }
      }
    },
    "/simulation/{simid}/fileRegistryServices/{file_registry_service_name}/addEntry": {
      "post": {
        "tags": [
          "WRENCH"
        ],
        "summary": "Add an entry to a file registry service.",
        "operationId": "fileRegistryServiceAddEntry",
        "parameters": [
          {
            "name": "simid",
            "in": "path",
            "description": "ID of the simulation",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "file_registry_service_name",
            "in": "path",
            "description": "the name of the file registry service",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Entry to add.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FileRegistryServiceEntry"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
	  "404": { "$ref": "#/components/responses/NotFound" },
          "405": { "$ref": "#/components/responses/MethodNotAllowed" }
        }
      }
    },
    "/simulation/{simid}/fileRegistryServices/{file_registry_service_name}/lookupEntry": {
      "post": {
        "tags": [
          "WRENCH"
        ],
        "summary": "Look up the locations of file.",
        "operationId": "fileRegistryServiceLookUpEntry",
        "parameters": [
          {
            "name": "simid",
            "in": "path",
            "description": "ID of the simulation",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "file_registry_service_name",
            "in": "path",
            "description": "the name of the file registry service",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "File to lookup.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "file_name": {
                    "type": "string",
                    "description": "the name of the file in the entry"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StorageServiceList"
                }
              }
            }
          },
	  "404": { "$ref": "#/components/responses/NotFound" },
          "405": { "$ref": "#/components/responses/MethodNotAllowed" }
        }
      }
    },
    "/simulation/{simid}/fileRegistryServices/{file_registry_service_name}/removeEntry": {
      "post": {
        "tags": [
          "WRENCH"
        ],
        "summary": "Remove an entry from a file registry service.",
        "operationId": "fileRegistryServiceRemoveEntry",
        "parameters": [
          {
            "name": "simid",
            "in": "path",
            "description": "ID of the simulation",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "file_registry_service_name",
            "in": "path",
            "description": "the name of the file registry service",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Entry to remove.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FileRegistryServiceEntry"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
	  "404": { "$ref": "#/components/responses/NotFound" },
          "405": { "$ref": "#/components/responses/MethodNotAllowed" }
        }
      }
    },
    "/simulation/{simid}/storage_services/{service_name}/createFileCopy": {
      "post": {
        "tags": [
          "WRENCH"
        ],
        "summary": "Create, ex nihilo, a copy of a file at a storage service.",
        "operationId": "createFileCopyAtStorageService",
        "parameters": [
          {
            "name": "simid",
            "in": "path",
            "description": "ID of the simulation",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "service_name",
            "in": "path",
            "description": "the storage service's name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Input to start a new service.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "filename": {
                    "type": "string",
                    "description": "the file name"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
	  "404": { "$ref": "#/components/responses/NotFound" },
          "405": { "$ref": "#/components/responses/MethodNotAllowed" }
        }
      }
    },
    "/simulation/{simid}/storage_services/{service_name}/lookupFile": {
      "post": {
        "tags": [
          "WRENCH"
        ],
        "summary": "Determine whether a copy of a file is stored at a storage service.",
        "operationId": "lookupFileAtStorageService",
        "parameters": [
          {
            "name": "simid",
            "in": "path",
            "description": "ID of the simulation",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "service_name",
            "in": "path",
            "description": "the name of the service's head host",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Input to start a new service.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "filename": {
                    "type": "string",
                    "description": "the file name"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BooleanResponse"
                }
              }
            }
          },
	  "404": { "$ref": "#/components/responses/NotFound" },
          "405": { "$ref": "#/components/responses/MethodNotAllowed" }
        }
      }
    },
    "/simulation/{simid}/compoundJobs/{compound_job_name}/submit": {
      "post": {
        "tags": [
          "WRENCH"
        ],
        "summary": "Submit a compound job for execution.",
        "operationId": "submitCompoundJob",
        "parameters": [
          {
            "name": "simid",
            "in": "path",
            "description": "ID of the simulation",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "compound_job_name",
            "in": "path",
            "description": "the name of the compound job",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Job characteristics.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "compute_service_name": {
                    "type": "string",
                    "description": "the compute service's name"
                  },
                  "service_specific_args": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string"
                      },
                      "value": {
                        "type": "string"
                      }
                    },
                    "description": "service-specific job arguments ({} means “use all defaults” )"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
	  "404": { "$ref": "#/components/responses/NotFound" },
          "405": { "$ref": "#/components/responses/MethodNotAllowed" }
        }
      }
    },
    "/simulation/{simid}/compoundJobs/{compound_job_name}/addParentJob": {
      "post": {
        "tags": [
          "WRENCH"
        ],
        "summary": "Add parent compound job to a compound job",
        "deprecated": false,
        "operationId": "addParentJob",
        "parameters": [
          {
            "name": "simid",
            "in": "path",
            "description": "ID of the simulation",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "compound_job_name",
            "in": "path",
            "description": "the name of the compound job",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Input to add a parent compound job.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "parent_compound_job": {
                    "type": "string",
                    "description": "the name of parent compound job."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
	  "404": { "$ref": "#/components/responses/NotFound" },
          "405": { "$ref": "#/components/responses/MethodNotAllowed" }
        }
      }
    },
    "/simulation/{simid}/compoundJobs/{compound_job_name}/addSleepAction": {
      "post": {
        "tags": [
          "WRENCH"
        ],
        "summary": "Add a sleep action to a compound job",
        "deprecated": false,
        "operationId": "addSleepAction",
        "parameters": [
          {
            "name": "simid",
            "in": "path",
            "description": "ID of the simulation",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "compound_job_name",
            "in": "path",
            "description": "the name of the compound job",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Input to add a sleep action.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "the name of sleep action."
                  },
                  "sleep_time": {
                    "type": "string",
                    "description": "Time to sleep."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
	  "404": { "$ref": "#/components/responses/NotFound" },
          "405": { "$ref": "#/components/responses/MethodNotAllowed" }
        }
      }
    },
    "/simulation/{simid}/compoundJobs/{compound_job_name}/addComputeAction": {
      "post": {
        "tags": [
          "WRENCH"
        ],
        "summary": "Add a compute action to a compound job",
        "deprecated": false,
        "operationId": "addComputeAction",
        "parameters": [
          {
            "name": "simid",
            "in": "path",
            "description": "ID of the simulation",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "compound_job_name",
            "in": "path",
            "description": "the name of the compound job",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Input to add a compute action.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "the name of compute action."
                  },
                  "flops": {
                    "type": "number",
		    "format": "double",
                    "description": "amount of flops"
                  },
                  "ram": {
                    "type": "integer",
                    "format": "int64",
                    "description": "amount of ram needed."
                  },
                  "max_num_cores": {
                    "type": "integer",
                    "format": "int64",
                    "description": "maximum amount of cores."
                  },
                  "min_num_cores": {
                    "type": "integer",
                    "format": "int64",
                    "description": "minimum amount of cores."
                  },
                  "parallel_model": {
                    "type": "tuple",
                    "description": "Specification of a parallel model as a (string, float) tuple. The string is the parallel model type, which can be AMDAHL or CONSTANTEFFICIENCY.  Each model takes a float parameter between 0.0 and 1.0. The AMDAHL model's parameter denotes the fraction of the sequential execution time that is perfectly parallelizable. The CONSTANTEFFICIENCY model's parameter is simply the parallel efficiency"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericRespone"
                }
              }
            }
          },
	  "404": { "$ref": "#/components/responses/NotFound" },
          "405": { "$ref": "#/components/responses/MethodNotAllowed" }
        }
      }
    },
    "/simulation/{simid}/compoundJobs/{compound_job_name}/addFileCopyAction": {
      "post": {
        "tags": [
          "WRENCH"
        ],
        "summary": "Add a file copy action to a compound job",
        "deprecated": false,
        "operationId": "addFileCopyAction",
        "parameters": [
          {
            "name": "simid",
            "in": "path",
            "description": "ID of the simulation",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "compound_job_name",
            "in": "path",
            "description": "the name of the compound job",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Input to add a file copy action.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "the name of file copy action."
                  },
                  "file_name": {
                    "type": "string",
                    "description": "the name of the file to copy."
                  },
                  "src_storage_service_name": {
                    "type": "StorageService",
                    "description": "Storage Service the file is copied from."
                  },
                  "dest_storage_service_name": {
                    "type": "StorageService",
                    "description": "Storage Service the file is copied to."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
	  "404": { "$ref": "#/components/responses/NotFound" },
          "405": { "$ref": "#/components/responses/MethodNotAllowed" }
        }
      }
    },
    "/simulation/{simid}/compoundJobs/{compound_job_name}/addFileDeleteAction": {
      "post": {
        "tags": [
          "WRENCH"
        ],
        "summary": "Add a file delete action to a compound job",
        "deprecated": false,
        "operationId": "addFileDeleteAction",
        "parameters": [
          {
            "name": "simid",
            "in": "path",
            "description": "ID of the simulation",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "compound_job_name",
            "in": "path",
            "description": "the name of the compound job",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Input to add a file delete action.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "the name of file delete action."
                  },
                  "file_name": {
                    "type": "string",
                    "description": "the name of the file to delete."
                  },
                  "storage_service_name": {
                    "type": "StorageService",
                    "description": "Storage Service the file is deleted from."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
	  "404": { "$ref": "#/components/responses/NotFound" },
          "405": { "$ref": "#/components/responses/MethodNotAllowed" }
        }
      }
    },
    "/simulation/{simid}/compoundJobs/{compound_job_name}/addFileReadAction": {
      "post": {
        "tags": [
          "WRENCH"
        ],
        "summary": "Add a file read action to a compound job",
        "deprecated": false,
        "operationId": "addFileReadAction",
        "parameters": [
          {
            "name": "simid",
            "in": "path",
            "description": "ID of the simulation",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "compound_job_name",
            "in": "path",
            "description": "the name of the compound job",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Input to add a file read action.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FileReadAction"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddActionResponse"
                }
              }
            }
          },
	  "404": { "$ref": "#/components/responses/NotFound" },
          "405": { "$ref": "#/components/responses/MethodNotAllowed" }
        }
      }
    },
    "/simulation/{simid}/compoundJobs/{compound_job_name}/addFileWriteAction": {
      "post": {
        "tags": [
          "WRENCH"
        ],
        "summary": "Add a file write action to a compound job.",
        "deprecated": false,
        "operationId": "addFileWriteAction",
        "parameters": [
          {
            "name": "simid",
            "in": "path",
            "description": "ID of the simulation",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "compound_job_name",
            "in": "path",
            "description": "the name of the compound job",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Input to add a file write action.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "the name of file write action."
                  },
                  "file_name": {
                    "type": "string",
                    "description": "the name of the file to write."
                  },
                  "storage_service_name": {
                    "type": "StorageService",
                    "description": "Storage Service to write the file to."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
	  "404": { "$ref": "#/components/responses/NotFound" },
          "405": { "$ref": "#/components/responses/MethodNotAllowed" }
        }
      }
    },
    "/simulation/{simid}/compoundJobs/{compound_job_name}/addActionDependency": {
      "post": {
        "tags": [
          "WRENCH"
        ],
        "summary": "Add a dependency between two actions in a compound job.",
        "deprecated": false,
        "operationId": "addActionDependency",
        "parameters": [
          {
            "name": "simid",
            "in": "path",
            "description": "ID of the simulation",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "compound_job_name",
            "in": "path",
            "description": "the name of the compound job",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Input to create an action dependency.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "parent_action_name": {
                    "type": "string",
                    "description": "the name of the parent action."
                  },
                  "child_action_name": {
                    "type": "string",
                    "description": "the name of the child action."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
	  "404": { "$ref": "#/components/responses/NotFound" },
          "405": { "$ref": "#/components/responses/MethodNotAllowed" }
        }
      }
    },
    "/simulation/{simid}/compoundJobs/{compound_job_name}/actions/{action_name}/getState": {
      "get": {
        "tags": [
          "WRENCH"
        ],
        "summary": "Get an action's state.",
        "deprecated": false,
        "operationId": "getActionState",
        "parameters": [
          {
            "name": "simid",
            "in": "path",
            "description": "ID of the simulation",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "compound_job_name",
            "in": "path",
            "description": "the name of the compound job",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "action_name",
            "in": "path",
            "description": "the name of the action",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StateResponse"
                }
              }
            }
          },
	  "404": { "$ref": "#/components/responses/NotFound" },
          "405": { "$ref": "#/components/responses/MethodNotAllowed" }
        }
      }
    },
    "/simulation/{simid}/compoundJobs/{compound_job_name}/actions/{action_name}/getStartDate": {
      "get": {
        "tags": [
          "WRENCH"
        ],
        "summary": "Get an action's start date.",
        "deprecated": false,
        "operationId": "getActionStartDate",
        "parameters": [
          {
            "name": "simid",
            "in": "path",
            "description": "ID of the simulation",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "compound_job_name",
            "in": "path",
            "description": "the name of the compound job",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "action_name",
            "in": "path",
            "description": "the name of the action",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TimeResponse"
                }
              }
            }
          },
	  "404": { "$ref": "#/components/responses/NotFound" },
          "405": { "$ref": "#/components/responses/MethodNotAllowed" }
        }
      }
    },
    "/simulation/{simid}/compoundJobs/{compound_job_name}/actions/{action_name}/getEndDate": {
      "get": {
        "tags": [
          "WRENCH"
        ],
        "summary": "Get an action's end date.",
        "deprecated": false,
        "operationId": "getActionEndDate",
        "parameters": [
          {
            "name": "simid",
            "in": "path",
            "description": "ID of the simulation",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "compound_job_name",
            "in": "path",
            "description": "the name of the compound job",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "action_name",
            "in": "path",
            "description": "the name of the action",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TimeResponse"
                }
              }
            }
          },
	  "404": { "$ref": "#/components/responses/NotFound" },
          "405": { "$ref": "#/components/responses/MethodNotAllowed" }
        }
      }
    },
    "/simulation/{simid}/compoundJobs/{compound_job_name}/actions/{action_name}/getFailureCause": {
      "get": {
        "tags": [
          "WRENCH"
        ],
        "summary": "Get an action's failure cause as a string (or the empty string if no failure).",
        "deprecated": false,
        "operationId": "getActionFailureCause",
        "parameters": [
          {
            "name": "simid",
            "in": "path",
            "description": "ID of the simulation",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "compound_job_name",
            "in": "path",
            "description": "the name of the compound job",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "action_name",
            "in": "path",
            "description": "the name of the action",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActionFailureCauseResponse"
                }
              }
            }
          },
	  "404": { "$ref": "#/components/responses/NotFound" },
          "405": { "$ref": "#/components/responses/MethodNotAllowed" }
        }
      }
    },
    "/simulation/{simid}/cloud_compute_services/{service_name}/createVM": {
      "post": {
        "tags": [
          "WRENCH"
        ],
        "summary": "Create a VM on a cloud compute service.",
        "operationId": "createVM",
        "parameters": [
          {
            "name": "simid",
            "in": "path",
            "description": "ID of the simulation",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "service_name",
            "in": "path",
            "description": "the cloud compute service's name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Input to start create a VM.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "num_cores": {
                    "type": "integer",
		    "format": "int64",
                    "description": "the required number of cores"
                  },
                  "ram_memory": {
                    "type": "integer",
		    "format": "int64",
                    "description": "the required memory in bytes"
                  },
                  "property_list": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string"
                      },
                      "value": {
                        "type": "string"
                      }
                    },
                    "description": "a property list ({} means “use all defaults”)"
                  },
                  "message_payload_list": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string"
                      },
                      "value": {
                        "type": "integer",
			"format": "int64"
                      }
                    },
                    "description": "a message payload list ({} means “use all defaults”)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VMCreationResponse"
                }
              }
            }
          },
	  "404": { "$ref": "#/components/responses/NotFound" },
          "405": { "$ref": "#/components/responses/MethodNotAllowed" }
        }
      }
    },
    "/simulation/{simid}/cloud_compute_services/{service_name}/vms/{vm_name}/startVM": {
      "post": {
        "tags": [
          "WRENCH"
        ],
        "summary": "Starts a VM and retrieve its associated bare metal compute service.",
        "operationId": "startVM",
        "parameters": [
          {
            "name": "simid",
            "in": "path",
            "description": "ID of the simulation",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "service_name",
            "in": "path",
            "description": "the cloud compute service's name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "vm_name",
            "in": "path",
            "description": "the VM name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceResponse"
                }
              }
            }
          },
	  "404": { "$ref": "#/components/responses/NotFound" },
          "405": { "$ref": "#/components/responses/MethodNotAllowed" }
        }
      }
    },
    "/simulation/{simid}/cloud_compute_services/{service_name}/vms/{vm_name}/shutdownVM": {
      "post": {
        "tags": [
          "WRENCH"
        ],
        "summary": "Shutdown a VM.",
        "operationId": "shutdownVM",
        "parameters": [
          {
            "name": "simid",
            "in": "path",
            "description": "ID of the simulation",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "service_name",
            "in": "path",
            "description": "the cloud compute service's name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "vm_name",
            "in": "path",
            "description": "the VM name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceResponse"
                }
              }
            }
          },
	  "404": { "$ref": "#/components/responses/NotFound" },
          "405": { "$ref": "#/components/responses/MethodNotAllowed" }
        }
      }
    },
    "/simulation/{simid}/cloud_compute_services/{service_name}/vms/{vm_name}/destroyVM": {
      "post": {
        "tags": [
          "WRENCH"
        ],
        "summary": "Destroy a VM.",
        "operationId": "destroyVM",
        "parameters": [
          {
            "name": "simid",
            "in": "path",
            "description": "ID of the simulation",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "service_name",
            "in": "path",
            "description": "the cloud compute service's name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "vm_name",
            "in": "path",
            "description": "the VM name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
	  "404": { "$ref": "#/components/responses/NotFound" },
          "405": { "$ref": "#/components/responses/MethodNotAllowed" }
        }
      }
    },
    "/simulation/{simid}/cloud_compute_services/{service_name}/vms/{vm_name}/isVMRunning": {
      "get": {
        "tags": [
          "WRENCH"
        ],
        "summary": "Determiner whether a VM is currently running.",
        "operationId": "isVMRunning",
        "parameters": [
          {
            "name": "simid",
            "in": "path",
            "description": "ID of the simulation",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "service_name",
            "in": "path",
            "description": "the name of the cloud compute service",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "vm_name",
            "in": "path",
            "description": "the name of the vm",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceResponse"
                }
              }
            }
          },
	  "404": { "$ref": "#/components/responses/NotFound" },
          "405": { "$ref": "#/components/responses/MethodNotAllowed" }
        }
      }
    },
    "/simulation/{simid}/cloud_compute_services/{service_name}/vms/{vm_name}/isVMDown": {
[...]
