name: Build-macOS

on:
  push:
    paths-ignore:
      - 'doc/**'
      - '**.md'
  workflow_run:
    workflows: ["clang-format"]
    branches: [master]
    types: 
      - completed

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install dependencies
        run: |
          clang -v
          brew update
          brew install nlohmann-json googletest boost
      
      - name: Install Simgrid
        run: |
          curl https://framagit.org/simgrid/simgrid/-/archive/v3.31/simgrid-v3.31.tar.gz | tar -xz
          mv simgrid-v*.* simgrid
          cd simgrid
          cmake -Denable_smpi=off .
          make -j4
          make install

      - name: Source Build and Test
        run: |
          # build and test wrench
          cmake -DENABLE_BATSCHED=off -DCMAKE_VERBOSE_MAKEFILE=ON .
          make -j4 all unit_tests
          ./unit_tests
