name: Build-macOS

on:
  push:
    paths-ignore:
      - 'doc/**'
      - '**.md'
  workflow_run:
    workflows: ["clang-format"]
    branches: [master]
    types: 
      - completed

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v2
      - name: Remove existing links
        run: |
          rm '/usr/local/bin/2to3'
          rm '/usr/local/bin/2to3-3.11'
      - name: Update brew
        run: |
          clang -v
          brew update
      - name: Install nlohmann-json
        run: |
          brew install nlohmann-json 
      - name: Install googletest
        run: |
          brew install googletest
#      - name: Install Python
#        run: |
#          brew install python
      - name: Install boost
        run: |
          brew install boost
      - name: Install Simgrid
        run: |
          git clone https://framagit.org/simgrid/simgrid.git
          cd simgrid
          git checkout dbb4b9d8b72ec01fe1748a7eb6b32222ffe3ece5
          cmake -Denable_smpi=off .
          make -j4
          make install
      - name: Source Build and Test
        run: |
          # build and test wrench
          cmake -DENABLE_BATSCHED=off -DCMAKE_VERBOSE_MAKEFILE=ON .
          make -j4 all unit_tests
          ./unit_tests
